:host {
  display: flex;
  flex-flow: column;
  color: white;
  --time: 110px;
  --perc: 300px;
  --no-l: 70px;
  margin: 0px 0px 50px 0px;
  width: 980px;
}

.cut {
  display: flex;
  width: 980px;
  background-color: #303030;
  border-bottom: 2px solid black;

  &:not(.trans):not(.head) {
    min-height: 54px;
  }

  * {
    border-color: black;
  }

  &.trans {
    background-color: #26252c;

    .dur-bar {
      background-color: #46445f;
    }

    .no-l {
      max-height: 39px;
    }
  }

  &.change {
    background-color: #6b2635;

    .dur-bar {
      background-color: #ad4058;
      ;
    }
  }

  .start,
  .end {
    width: var(--time);
    min-width: var(--time);
    max-width: var(--time);
  }

  .start,
  .end,
  .info,
  .bpm,
  .perc,
  .no-l {
    padding: 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info {
    padding: 8px 16px;
  }

  .end {
    text-align: right;
  }

  .info {
    width: calc((100% - (var(--time) * 2 + var(--perc) + var(--no-l))) * 0.6);
    min-width: calc((100% - (var(--time) * 2 + var(--perc) + var(--no-l))) * 0.6);
    max-width: calc((100% - (var(--time) * 2 + var(--perc) + var(--no-l))) * 0.6);

    span {
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      text-align: center;
    }
  }

  .bpm {
    font-size: 20px;
    font-weight: 900;
    width: calc((100% - (var(--time) * 2 + var(--perc))) * 0.4);
    min-width: calc((100% - (var(--time) * 2 + var(--perc))) * 0.4);
    max-width: calc((100% - (var(--time) * 2 + var(--perc))) * 0.4);

    // justify-content: flex-start;
    span {
      font-size: 14px;
      line-height: 23px;
    }
  }

  .start,
  .bpm {

    white-space: nowrap;
  }

  .info,
  .start,
  .bpm {
    border-right-width: 2px;
    border-right-style: solid;

  }

  .perc {
    width: var(--perc);
    border-left-width: 10px;
    border-left-style: solid;
    background-color: black;
  }

  .no-l {
    width: var(--no-l);
    background-color: black;

    .icon {
      max-height: 30px;
    }
  }
}

b {
  font-size: 24px;
}

.cut.head {
  background-color: black !important;


  div {
    padding: 4px 0px !important;
    font-size: 18px !important;
    font-weight: 900 !important;

    &.perc {
      justify-content: flex-start;
      padding-left: 12px !important;
    }
  }
}

.dur-cont {
  width: 100%;
  height: 10px;
  margin-left: 12px;


  .dur-bar {
    background-color: #8a8a8a;
    height: 10px;
  }
}

.no-l {
  transform: scaleX(-1);
  width: 65px;
  min-width: 65px;
  max-width: 65px;
}

.menu {
  display: flex;
  width: 100%;
  padding-left: 65px;
  padding-right: 65px;
  margin-top: 20px;
  margin-bottom: 50px;

  .menu-btn {
    background-color: #133a28;
    padding: 12px 0px;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;

    cursor: pointer;
    color: #189e5f;
    flex-grow: 1;

    &:not(:last-of-type) {
      margin-right: 14px;
    }

    &.selected {
      background-color: #189e5f;
      color: white;
    }

    &.yy {
      background-color: #393a13;
      color: #8a9e18;

      &.selected {
        background-color: #8a9e18;
        color: white;
      }
    }
  }
}

.info.trans {
  background-color: black !important;
}
